span{
    background-color: red;
}

.table_name{
font-size: 30px;
background-color: red;
}

.table_age{
font-size: 30px;
background-color: blue;
}

.tabel_weight{
font-size: 30px;
background-color: blueviolet;
}

#QNQN{
    background-color: black;
}

.aaa{
    background-color: cyan;
}
td{
    background-color: crimson;
}